body {
    width: 800px;
    margin: auto;
}

h1 {
    background-color: #AC1556;
    color: white;
    margin-left: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 12px;
    padding: 20px;
    font-family: Arial;
}

h4 {
    color: black;
    margin-left: 2px;
    border-radius: 12px;
    font-family: Arial;
}

fieldset {
    border-color: #AC1556;
    border-width:7px;
    border-style: double;
    vertical-align: middle;
    margin-left: 2px;
    border-radius: 12px;
    padding: 20px;
    text-align: justify;
    font-family: Arial;
}

.hide {
    display: none;
}

.trainlist {
    color: black;
}

div p span {
    font-weight: bold;
    font-size: medium;
}

div p span:hover {
    font-weight: bold;
    font-style: italic;
}

p {
    font-size: smaller;
}

button {
    background-color: #AC1556;
    width: 140px;
    height: 40px;
    color: white;
    font-size: medium;
    font-weight: bolder;
    align-content: center;
}

.input {
    border-color: #AC1556;
    width: 280px;
    height: 30px;
    font-family: Arial;
}

footer {
    font-size: small;
    text-align: justify;
    font-family: Arial;
}

