
body {
    width: 90%;
    max-width: 600px;
    margin: auto;
}

img {
    alignment: left;
}

.login {
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
}

.login input{
    margin-left: 2px;
    margin-bottom: 3px;
    border-color: #AC1556;
}

.loginbutton {
    background-color: #AC1556;
    margin-right: 2px;
    border-radius: 8px;
    width: 100px;
    height: 22px;
    color: white;
    font-size: x-small;
    font-weight: bolder;
    align-content: center
}

.logout {
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
}

.logoutbutton {
    display: flex;
    justify-content: flex-end;
    background-color: #AC1556;
    margin-right: 2px;
    border-radius: 8px;
    width: 100px;
    height: 22px;
    color: white;
    font-size: x-small;
    font-weight: bolder;
    align-content: center
}

h1 {
    background-color: #AC1556;
    color: white;
    margin-top: 3px;
    margin-bottom: 7px;
    border-color: white;
    border-style: solid;
    border-radius: 12px;
    padding: 20px;
    font-family: Arial;
}

h4 {
    color: black;
    margin-top: 5px;
    margin-bottom: 4px;
    border-radius: 12px;
    font-family: Arial;
}

fieldset {
    border-color: #AC1556;
    border-width:7px;
    border-style: double;
    vertical-align: middle;
    margin-left: 2px;
    border-radius: 12px;
    padding-left: 20px;
    text-align: justify;
    font-family: Arial;
}

.hide {
    display: none;
}

.trainlist {
    color: black;
}

div p span {
    font-weight: bold;
    font-size: medium;
}

div p:hover {
    background-color: #AC1556;
    color: white;
    margin: 15px;
    padding: 12px;
}

div p {
    font-size: smaller;
    margin: 5px;
    padding: 8px;
}

button {
    background-color: #AC1556;
    border-radius: 12px;
    height: 40px;
    color: white;
    font-size: medium;
    font-weight: bolder;
    align-content: center;
}

button:hover, .loginbutton:hover, .logoutbutton:hover, button:active, .loginbutton:active, .logoutbutton:active {
    background-color: #E42376;
    color: black;
    transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
}

.input {
    border-color: #AC1556;
    width: 200px;
    height: 30px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.inputdate {
    border-color: #AC1556;
    width: 120px;
    height: 30px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.input:focus {

}

.scaleOn {
    /*General*/
    transform: scale(1.05, 1.05);
    /*Firefox*/
    -moz-transform: scale(1.05, 1.05);
    /*Microsoft Internet Explorer*/
    -ms-transform: scale(1.05, 1.05);
    /*Chrome, Safari*/
    -webkit-transform: scale(1.05, 1.05);
    /*Opera*/
    -o-transform: scale(1.05, 1.05);
}

footer {
    font-size: small;
    font-weight: bolder;
    text-align: center;
    color: #AC1556;
    font-family: Arial;

}

