

h1 {
    background-color: fuchsia;
    color: white;
    width: 40%;
    margin-left: 2px;
    border-radius: 12px;
    padding: 20px;
    font-family: Arial;
}

h3 {
    background-color: white;
    color: fuchsia;
    width: 95%;
    margin-left: 2px;
    border-radius: 12px;
    padding: 20px;
    font-family: Arial;
}

fieldset {
    margin-left: 2px;
    border-radius: 12px;
    width: 40%;
    text-align: justify;
    font-family: Arial;
}